.row {
  width: 992px;
  margin: 100px auto;
  text-align: center;
}

/* BLOCCO LEZIONI */
#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

/* BLOCCO PERCHE */
#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* COMMON */
[background="grey"]{
  background-color: #f9f9f9;
}
img{
  height: 200px;
  margin: 20px 0;
}

/* Regole Desktop per la riga*/
@media all and (min-width: 992px){
  hr {
    display: none;
  }
}
/* Regole Tablet per la riga*/
@media all and (min-width: 769px) and (max-width: 991px){
  .row {
    width: 100%;
  }
  hr {
    display: none;
  }
  img{
    height: 150px;
  }
  #why .row img {
    border-radius:30%;
  }
}
/* Regole SmartPhone per la riga*/
@media all and (max-width: 768px){
  .row {
    width: 100%;
  }
  hr {
    margin: 20px 150px;
  }
  img{
    height: 100px;
  }
  #why .row img {
    border-radius:30%;
  }
}
